:root { 
--white_A700_3d:#ffffff3d; 
--light_green_A700:#43d92b; 
--green_800:#357046; 
--white_A700_72:#ffffff72; 
--green_600:#47965e; 
--white_A700_33:#ffffff33; 
--green_A700:#07c03e; 
--black_900:#000000; 
--gray_500_01:#9b9daa; 
--blue_gray_800:#333647; 
--blue_gray_100:#d1d1d1; 
--gray_500:#aaaaaa; 
--green_A200_a3:#76fa9ca3; 
--gray_900:#22242f; 
--green_50:#d5fde0; 
--gray_200:#f0f0f0; 
--gray_300:#dedfe3; 
--gray_100:#f4f4f6; 
--white_A700_00:#ffffff00; 
--indigo_200:#9197cf; 
--gray_100_01:#f7f5f5; 
--white_A700_01:#fffdfd; 
--gray_800_a3:#3d3d3da3; 
--white_A700:#ffffff; 
--gray_700_00:#5e5e5e00; 
--white_A700_7a:#ffffff7a; 
--gray_700_23:#5e5e5e23; 
}